::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
body {
    font-family: Tahoma;
    background-image: url(homebg1.svg);
    background-color: #040404;
    overflow-x: hidden;
}
.bg-dark {
    background-color: #00000099 !important;
}
.logo-container {
    height: 36px;
    width: 110px;
    background-size: cover;
    background-image: url(logo-mp-3.svg);
    display: block;
}
.navbar {
    height: 90px;
}
.nav-item {
    font-size: 18px;
    color: #979494;
    line-height: 29px;
    padding-left: 60px;
}
.navbar-brand {
    padding-left: 40px;
}
.img {
    background-image: url(albumBG3.png);
    background-size: cover;
    display: block;
    height: 700px !important;
    border-radius: 0px !important;
    position: relative;
}
.slider-text {
    color: #f6f0f0;
    flex-flow: column;
    position: absolute;
    right: 700px;
    text-align: right;
}
.new-album {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 13px;
}
.album-title {
    font-size: 34px;
    margin: 10px;
    font-weight: bold;
}
.quality {
    font-size: 16px;
    margin-left: 10px;
}
.studio-by {
    margin: 10px;
}
.author-name {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}
.song-container {
    display: flex;
    margin: 20px;
}
.song-name {
    width: 550px;
    text-align: initial;
    padding-left: 20px;
}
.status-icon {
    position: absolute;
}
.none-deco {
    position: absolute;
    display: block;
    left: 20px;
}
.home-btn {
    border: none;
    background-color: #d72d2d;
    padding: 5px;
    color: #f6f0f0;
    outline: none;
}
.containers {
    margin-left: 20px !important;
    margin-right: 20px !important;
    position: relative;
    /*height: 100vw;*/
}
.album {
    margin-bottom: 80px;
}
.favourite-album {
    font-size: 30px;
    background-color: #d9d9d9;
    padding: 30px 0px;
    margin-bottom: 50px;
    margin-top: 100px;
    width: 500px;
    text-align: center;
}
.favourite-note {
    font-size: 16px;
    background-color: #474a56;
    width: 400px;
    color: #f6f0f0;
    padding: 10px 30px;
    line-height: 41px;
    margin-bottom: 50px;
}
.favourite-btn {
    border: none;
    background-color: #d72d2d;
    padding: 10px 30px;
    color: #f6f0f0;
    outline: none;
}
.home.album-layout {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: repeat(3, 230px);
    gap: 20px;
    position: relative;
    opacity: 0;
    right: -300px;
}
.favourite-singer {
    font-size: 30px;
    background-color: #d9d9d9;
    padding: 30px 0px;
    margin-bottom: 50px;
    margin-top: 100px;
    width: 500px;
    text-align: center;
}
.favourite-note-singer {
    font-size: 16px;
    background-color: #474a56;
    width: 400px;
    color: #f6f0f0;
    padding: 10px 30px;
    line-height: 41px;
    margin-bottom: 50px;
}
.singger {
    position: relative;
    margin-top: 100px;
}
.sing {
    right: 0px;
    align-items: flex-end;
    display: flex;
    flex-flow: column;
    margin-left: 200px;
}
.img-fluid {
    border-radius: 10px;
}
.category {
    position: relative;
    margin-top: 120px;
}
.cate {
    display: flex;
    flex-flow: column;
}
.search-n-user {
    display: flex;
    position: absolute;
    color: #979494;
    font-size: 24px;
    padding: 2px;
    right: 40px;
}
.row-flex {
    margin: 0px 10px;
}
.genre-layout {
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
    position: relative;
}
.genre-container {
    overflow: hidden;
    border: 2px white solid;
    position: relative;
    text-decoration: none;
}
.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pop {
    grid-row: 1 / 3;
    grid-column: 1/2;
}
img {
    max-width: 100%;
}
.genre-container .background {
    object-fit: cover;
    position: absolute;
    z-index: -99;
    filter: blur(5px);
    filter: brightness(40%);
    transition: all ease 200ms;
}
.edm {
    grid-column: 3/5;
    grid-row: 1/2;
}
.rock {
    grid-row: 2 / 4;
    grid-column: 4/5;
}
.rap {
    grid-column: 1/3;
    grid-row: 3/4;
}
.genre-text {
    font-family: Arial;
    font-weight: 600;
    font-size: 26px;
    line-height: 41px;
    color: #ffffff;
    align-items: center;
    flex-grow: 2;
}
.genre-layout a {
    text-decoration: none;
    display: flex;
}
.footer {
    margin-top: 150px;
}
.jum {
    background-color: #555555;
    height: 150px;
}
.link {
    padding-top: 40px;
    padding-bottom: 20px;
    color: #f6f0f0;
}
.fab,.fa-envelope {
    padding-right: 10px;
    padding-left: 10px;
}
.text-footer {
    color: #f6f0f0;
}
.search-icon-containe {
    padding-right: 10px !important;
}